%flex_container {
  display: flex;
  flex-direction: row;
  align-items: center;

  div {
    overflow: auto;
  }
}

%mouse_over {
  &:hover {
    cursor: pointer;
    opacity: .6;
  }
}

#root {
  display: flex !important;
  justify-content: center;
}

.PC-__ {
  width: 1256px;
  height: 772px;
  background-color: #ffffff;
  padding-left: 60px;
  padding-right: 62px;
}

.PC-Head {
  @extend %flex_container;
  margin-top: 30px;
  margin-left: -1px;
  width: 274px;

  @extend %mouse_over;
}

.PC-Head-Content {
  display: flex;
  width: 244px;
  height: 19px;
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #424242;
  align-items: center;
  margin-left: 6px;
}

.bt_checkbox_checked {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.CARD-Container {
  @extend %flex_container;
  margin-top: 30px;

  .CARD:nth-child(n+2) {
    margin-left: 20px;
  }
}

// * Card
.CARD-Head {
  @extend %flex_container;
  margin-left: 1px;
  margin-bottom: 10px;
}

.ic_avatar_cat {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.CARD-Head-Content {
  height: 19px;
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.74);
  margin-left: 10px;
}

.CARD-Content {
  position: relative;

  .on-img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    z-index: 10;
    position: absolute;
    top: 226px;
    left: 226px;

    @extend %mouse_over;
  }
  
  .Rectangle {
    width: 268px;
    height: 268px;
    border-radius: 10px;
  }
}